.navbar a {
  font-family: 'Amatic SC', cursive;
  height: 100%;
  padding: 1rem;
}
.active,
.navbar a:hover {
  background-color: #0dcaf0;
  color: white;
}
.navbar {
  height: 100%;
  padding: 0;
  color: white;
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
}
